{% include "header.html" %}
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="app-user-list">
                <div class="row" id="table-hover-animation">
                    <div class="col-12">
                        <div class="card">
                            <div class="d-flex justify-content-between align-items-center header-actions mx-1 row mt-75">
                                <div class="col-lg-12 col-xl-6 ">
                                    <div class="dataTables_length mb-1 ">
                                    <form action="reports" method="POST">
                                        <input type="search" class="custom-select form-control" placeholder="" name="search" style="width:20%">
                                        <input type="date" class="custom-select form-control" placeholder="" name="from" style="width:20%">
                                        <input type="date" class="custom-select form-control" placeholder="" name="to" style="width:20%">
                                        <select id="user-role" class="custom-select " name="card" style="width: 20%;">
                                            {% for default_card in data.cards %}
                                                <option value="{{default_card._id}}">{{ default_card.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <button type="submit" class="btn btn-primary mr-1 data-submit waves-effect waves-float waves-light">Submit</button>
                                    </form>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-xl-6 pl-xl-75 pl-0">
                                    <!-- <div class="dt-action-buttons text-xl-right text-lg-left text-md-right text-left d-flex align-items-center justify-content-lg-end align-items-center flex-sm-nowrap flex-wrap mr-1">
                                        <div class="dt-buttons btn-group flex-wrap">
                                            <button class="btn add-new btn-primary mt-50 mb-1" tabindex="0" aria-controls="DataTables_Table_0" type="button" data-toggle="modal" data-target="#modals-slide-in">
                                                <span>Add New Employee</span>
                                            </button>
                                        </div>
                                    </div> -->
                                </div>
                            <div class="table-responsive">
                                <table class="table table-hover-animation">
                                    <thead>
                                        <tr>
                                            <th>CLIENT</th>
                                            <th>BANK</th>
                                            <th>CARD</th>
                                            <th>EMPLOYEES</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for card in cards %}

                                            <tr>
                                                <td class="text-uppercase">{{ card.client.first_name }} {{ card.client.last_name }}</td>
                                                <td>
                                                    <span class="font-weight-bold text-uppercase">{{ card.card.bank.name }}</span>
                                                </td>
                                                <td class="text-uppercase">{{ card.card.name }}</td>
                                                <td>
                                                    <div class="avatar-group">
                                                        {% for employee in card.employees %}
                                                            <div data-toggle="tooltip" data-popup="tooltip-custom" data-placement="top" title="" class="avatar pull-up my-0" data-original-title="Lilian Nenez">
                                                                <img src="{{ url_for('static', filename='app-assets/images/portrait/small/avatar-s-5.jpg') }}" alt="Avatar" height="26" width="26" />
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </td>
                                                <td><span class="badge badge-pill badge-light-secondary mr-1">Pending</span></td>
                                                <td>
                                                    <div class="row">
                                                        <a href="/delete-employee-card/{{ card.card._id }}">
                                                            <button class='btn btn-danger btn-sm mr-1 confirm-delete'>
                                                                <i data-feather='trash-2'></i>
                                                            </button>
                                                        </a>
                                                        <button class='btn btn-primary btn-sm' 
                                                                type='button' 
                                                                data-toggle="modal" 
                                                                data-target="#update-employee-card" 
                                                                onclick='update_employee()'>
                                                            <i data-feather='edit'></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                            
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="card-body">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination mt-3">
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                                    <li class="page-item active"><a class="page-link" href="javascript:void(0);">4</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">5</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">6</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">7</a></li>
                                </ul>
                            </nav>
                        </div>
                </div>
            </section>
        </div>
    </div>
</div>
<input type="hidden" id="activeSideBar" value="reports" />
{% include "footer.html" %}
    