{% include "header.html" %}

<!-- BEGIN: Content-->
<div class="app-content content ">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <section class="app-user-view">
        <!-- User Card & Plan Starts -->
        <div class="row">
          <!-- User Card starts-->
          <div class="col-xl-9 col-lg-8 col-md-7">
            <div class="card user-card">
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-6 col-lg-12 d-flex flex-column justify-content-between border-container-lg">
                    <div class="user-avatar-section">
                      <div class="d-flex justify-content-start">
                        <img class="img-fluid rounded" src="{{ url_for('static', filename='app-assets/images/portrait/small/avatar-s-5.jpg') }}" height="104"
                          width="104" alt="User avatar" />
                        <div class="d-flex flex-column ml-1">
                          <div class="user-info mb-1">
                            <h4 class="mb-0" style="text-transform: uppercase;">{{ userData.first_name }} {{ userData.last_name }}</h4>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="col-xl-6 col-lg-12 mt-2 mt-xl-0">
                    <div class="user-info-wrapper">
                      <div class="d-flex flex-wrap">
                        <div class="user-info-title">
                          <i data-feather="user" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">Name</span>
                        </div>
                        <p class="card-text mb-0">{{ userData.first_name  }} {{ userData.last_name }}</p>
                      </div>
                      <div class="d-flex flex-wrap my-50">
                        <div class="user-info-title">
                          <i data-feather="check" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">Status</span>
                        </div>
                        <p class="card-text mb-0">{{ 'Active' if userData.status else False }}</p>
                      </div>
                      <div class="d-flex flex-wrap my-50">
                        <div class="user-info-title">
                          <i data-feather="star" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">Role</span>
                        </div>
                        <p class="card-text mb-0" style="text-transform: uppercase;">{{userData.role}}</p>
                      </div>
                      <div class="d-flex flex-wrap my-50">
                        <div class="user-info-title">
                          <i data-feather="flag" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">Gender</span>
                        </div>
                        <p class="card-text mb-0" style="text-transform: uppercase;">{{userData.gender}}</p>
                      </div>
                      <div class="d-flex flex-wrap">
                        <div class="user-info-title">
                          <i data-feather="phone" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">Designation</span>
                        </div>
                        <p class="card-text mb-0">{{ userData.designation }}</p>
                      </div>
                      <div class="d-flex flex-wrap">
                        <div class="user-info-title">
                          <i data-feather="phone" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">Mobile</span>
                        </div>
                        <p class="card-text mb-0">{{ userData.mobile }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /User Card Ends-->

          <!-- Plan Card starts-->
          <div class="col-xl-3 col-lg-4 col-md-5">
            <div class="card plan-card border-primary">
              <div class="card-header d-flex justify-content-between align-items-center pt-75 pb-1">
                <h5 class="mb-0">Password Change</h5>
                <!-- <span class="badge badge-light-secondary" data-toggle="tooltip" data-placement="top"
                  title="Expiry Date">July 22, <span class="nextYear"></span>
                </span> -->
              </div>
              <div class="card-body">
                <!-- <div class="badge badge-light-primary">Basic</div> -->

                <form class="auth-login-form mt-2" action="/password-change" method="POST">
                  <div class="form-group">
                    <label for="Change Password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="Change Password" name="password" placeholder="*******"
                      aria-describedby="Change Password" tabindex="1" autofocus />
                  </div>

                  <div class="form-group">
                    <div class="d-flex justify-content-between">
                      <label for="confim-password">Confirm Password</label>
                    </div>
                    <div class="input-group input-group-merge form-password-toggle">
                      <input type="password" class="form-control form-control-merge" id="confim-password"
                        name="confirm-password" tabindex="2" placeholder="*******" aria-describedby="login-password" />
                    </div>
                  </div>
                  <button class="btn btn-primary btn-block" tabindex="4">Change Password</button>
                </form>


              </div>
            </div>
          </div>
          <!-- /Plan CardEnds -->
        </div>


      </section>

    </div>
  </div>
</div>
<!-- END: Content-->
<input type="hidden" id="activeSideBar" value="profile" />

{% include "footer.html" %}