<div class="modal modal-slide-in new-user-modal fade" id="add-card">
    <div class="modal-dialog">
        <form class="add-new-user modal-content pt-0" novalidate="novalidate" action="/add-card" method="POST">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
            <div class="modal-header mb-1">
                <h5 class="modal-title" id="exampleModalLabel">New Card</h5>
            </div>
            <div class="modal-body flex-grow-1">
                
                <div class="form-group">
                    <label class="form-label" for="user-role">Banks</label>
                    <select id="user-role" class="form-control" name="gender">
                        <option value="male">HDFC</option>
                        <option value="female">SBI</option>
                        <option value="female">ICICI</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-label" for="user-role">Card Types</label>
                    <select id="user-role" class="form-control" name="gender">
                        <option value="male">HDFC</option>
                        <option value="female">SBI</option>
                        <option value="female">ICICI</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary mr-1 data-submit">Submit</button>
                <button type="reset" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>