{% include "header.html" %}
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="app-user-list">
        <div class="row">
          <!-- User Sidebar -->
          <div class="col-xl-4 col-lg-5 col-md-5 order-1 order-md-0">
            <!-- User Card -->
            <div class="card mb-1">
              <div class="card-body">
                <div class="user-avatar-section">
                  <div class=" d-flex align-items-center flex-column">
                    <img class="img-fluid rounded mb-1 pt-1 mt-4" src="https://demos.pixinvent.com/vuexy-html-admin-template/assets/img/avatars/15.png" height="100" width="100" alt="User avatar">
                    <div class="user-info text-center">
                      <h4 class="text-transform: text-uppercase">{{ client.first_name+' '+client.last_name }}</h4>
                      <span class="badge bg-label-secondary mt-1">CLIENT</span>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-around flex-wrap mt-3 pt-3 pb-4 border-bottom">
                  
                </div>
                <p class="mt-4 small text-uppercase text-muted">Details</p>
                <div class="info-container">
                  <ul class="list-unstyled">
                    <li class="mb-1">
                      <span class="fw-medium me-1">First Name:</span>
                      <span style="text-transform: uppercase;">{{ client.first_name }}</span>
                    </li>
                    <li class="mb-1">
                        <span class="fw-medium me-1">Last Name:</span>
                        <span style="text-transform: uppercase;">{{ client.last_name }}</span>
                      </li>
                    <li class="mb-1">
                      <span class="fw-medium me-1">Email:</span>
                      <span>{{ client.email }}</span>
                    </li>
                    <!-- <li class="mb-1">
                      <span class="fw-medium me-1">Status:</span>
                      <span class="badge bg-label-success">Active</span>
                    </li> -->
                    <!-- <li class="mb-1">
                      <span class="fw-medium me-1">Role:</span>
                      <span>Author</span>
                    </li> -->
                    <li class="mb-1">
                      <span class="fw-medium me-1">Date Of Birth</span>
                      <span>{{ client.dob }}</span>
                    </li>
                    <li class="mb-1">
                      <span class="fw-medium me-1">Mobile:</span>
                      <span>{{ client.mobile }}</span>
                    </li>
                    
                    
                  </ul>
                </div>
              </div>
            </div>
            <!-- /User Card -->

          </div>
          <!--/ User Sidebar -->
        
        
          <!-- User Content -->
          <div class="col-xl-8 col-lg-7 col-md-7 order-0 order-md-1">
            <!-- User Pills -->
            <ul class="nav nav-pills flex-column flex-md-row mb-4">
              <li class="nav-item"><a class="nav-link active" href="javascript:void(0);"><i class="ti ti-user-check ti-xs me-1"></i>Credit Cards</a></li>
              <li class="nav-item"><a class="nav-link" href=""><i class="ti ti-lock ti-xs me-1"></i>Loans</a></li>
              <!-- <li class="nav-item"><a class="nav-link" href="app-user-view-billing.html"><i class="ti ti-currency-dollar ti-xs me-1"></i>Billing &amp; Plans</a></li>
              <li class="nav-item"><a class="nav-link" href="app-user-view-notifications.html"><i class="ti ti-bell ti-xs me-1"></i>Notifications</a></li>
              <li class="nav-item"><a class="nav-link" href="app-user-view-connections.html"><i class="ti ti-link ti-xs me-1"></i>Connections</a></li> -->
            </ul>
            <!--/ User Pills -->
        
            <!-- Project table -->
            <div class="card mb-4">
              <div class="table-responsive mb-3">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <div class="col-sm-8 col-12 d-flex align-items-center justify-content-sm-end justify-content-center">
                      

                      <div class="col-lg-12 col-xl-6 pl-xl-75 pl-0">
                        <div class="dt-action-buttons text-xl-right text-lg-left text-md-right text-left d-flex align-items-center justify-content-lg-end align-items-center flex-sm-nowrap flex-wrap mr-1">
                            <div class="dt-buttons btn-group flex-wrap">
                                <button class="btn add-new btn-primary mt-50 mb-1" tabindex="0" aria-controls="DataTables_Table_0" type="button" data-toggle="modal" data-target="#add-card">
                                    <span>Add New Card</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    </div>
                  </div>
                  
                  <table class="table datatable-project border-top dataTable no-footer dtr-column" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 797px;">
                  <thead>
                    <tr>
                      <th class="control sorting dtr-hidden" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 0px; display: none;" aria-label=": activate to sort column ascending"></th>
                      <th class="sorting sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 290px;" aria-label="Project: activate to sort column ascending" aria-sort="descending">BANK</th>
                      <th class="text-nowrap sorting_disabled" rowspan="1" colspan="1" style="width: 129px;" aria-label="Total Task">CARD</th>
                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 120px;" aria-label="Progress: activate to sort column ascending">EMPLOYEE</th>
                      <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 86px;" aria-label="Hours">STATUS</th>
                      <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 86px;" aria-label="Hours">ACTION</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for client_card in client_cards %}
                    
                      <tr class="odd">
                        <td class="  control" tabindex="0" style="display: none;"></td>
                        <td class="sorting_1">
                          <div class="d-flex justify-content-left align-items-center">
                            <div class="d-flex flex-column">
                              <span class="text-truncate fw-medium">{{ client_card.card.bank.name }}</span>
                            </div>
                          </div>
                        </td>
                        <td>{{ client_card.card.name }}</td>
                        <td>
                          <div class="avatar-group">
                              {% for employee in client_card.employees %}
                                <div data-toggle="tooltip" data-popup="tooltip-custom" data-placement="top" title="" class="avatar pull-up my-0" style="text-transform: uppercase;" data-original-title="{{ employee.first_name }}" >
                                    <img src="{{ url_for('static', filename='app-assets/images/portrait/small/avatar-s-5.jpg') }}" alt="Avatar" height="26" width="26" />
                                </div>
                              {% endfor %}

                          </div>
                      </td>
                        <td>{{ client_card.status }}</td>
                        <td>
                          <div class="row">
                            <a href="/delete-usercard/{{ client_card._id}}">
                                <button class='btn btn-danger btn-sm mr-1 confirm-delete'>
                                    <i data-feather='trash-2'></i>
                                </button>
                            </a>
                            <button class='btn btn-primary btn-sm' 
                                    type='button' 
                                    data-toggle="modal" 
                                    data-target="#edit-card" 
                                    onclick='update_client_card({{ client_card|tojson|safe }})'>
                                <i data-feather='edit'></i>
                            </button>
                            
                        </div>
                        </td>
                      </tr>
                    {% endfor %}

                </table>
                <div class="d-flex justify-content-between mx-4 row">

                </div>
              </div>
              </div>                    

            </div>
            <!-- /Project table -->
        

        

          </div>
          <!--/ User Content -->
        </div>
    </section>
    {% include "components/add_card.html" %}
    {% include "components/edit_card.html" %}
</div>
</div>
</div>
        
    <!-- END: Content-->
<input type="hidden" id="activeSideBar" value="clients" />
{% include "footer.html" %}