
<div class="modal modal-slide-in new-user-modal fade" id="edit-card">
    <div class="modal-dialog">
        <form class="add-new-user modal-content pt-0" novalidate="novalidate" action="/edit-card" method="POST">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
            <div class="modal-header mb-1">
                <h5 class="modal-title" id="exampleModalLabel">Edit Card</h5>
            </div>
            <div class="modal-body flex-grow-1">

                <div class="form-group">
                    <label class="form-label" for="user-role">Bank | Card Type</label>
                    <select id="user-role" class="form-control" name="card" id="client_selected_card">
                        {% for bank in banks %}
                            <option value="{{ bank.cards._id}}">{{ bank.name }} || {{ bank.cards.name }}</option>
                        {% endfor %}
                    </select>

                    
                </div>

                <div class="form-group">
                    <label class="form-label" for="user-role">Employees</label>
                        {% for user_ in users %}
                            <div class="custom-control custom-control-success custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="employees" id="{{ user_._id }}_" value="{{ user_._id }}"/>
                                <label class="custom-control-label" for="{{ user_._id }}_" style="text-transform: uppercase;">{{ user_.first_name }} {{ user_.last_name }}</label>
                            </div>
                        {% endfor %}
                </div>

                <div class="form-group">
                    <label class="form-label" for="user-role">Status</label>
                    <select id="edit_card_status" class="form-control" name="status">
                        <option value="pending">PENDING</option>
                        <option value="soft_approval">SOFT APPROVAL</option>
                        <option value="declined">DECLINED</option>
                    </select>
                </div>

                <input type="hidden" id="edit_card_id" value="" name="edit_card_id"/>
 
                <input type="hidden" name="client" value="{{client._id}}" />
                

                <button type="submit" class="btn btn-primary mr-1 data-submit">Submit</button>
                <button type="reset" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>